{% load static %}

{% block content %}
<style>
    body{
        background-image: url("{% static 'questionbank/images/login_bg.jpg' %}");
        /* filter: blur(5px); */
    }
    

</style>
<link rel="stylesheet" type="text/css" href="{% static 'questionbank/style.css' %}">

<div class="login-container">
  <h2>Data-Yatra</h2>
  <form action="" method="post" >
    {% csrf_token %}
        <input type="text" placeholder="Username" name="username" >
        <input type="password" name="password" id="login-password" placeholder="Password" >
        <button type="submit">Login</button>
    
  </form>
  <br>
  <span>Don`t have an account?</span>
  <a href="{% url 'signup' %}" class="signup-link">Sign Up</a>
</div>

{% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
{% endif %}

{% endblock content %}